@font-face{
    src: url(../font/Nunito/Nunito-VariableFont_wght.ttf);
    font-family: NunitioVar;
}
@font-face{
    src: url(../font/URW\ Geometric\ W03\ Extra\ Bold.ttf);
    font-family: GeometricExtrabold;
}

*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: NunitioVar;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}


header{
    width: 100%;
    height: 100%; 
}
header .top-right{
    width: 100%;
    height: 30px;
    background-color:rgb(30, 30, 30);
    position: absolute;
    top: 0px; 
}
.top-right a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    float: right;
    text-align:center ;
    font-size: small;
}
.top-right img{
    margin: 3px 3px -8px 10px   ;
}



nav{
    font-family: GeometricExtrabold;
    border-top: 20px gray;
    border-bottom: 20px gray;
    line-height: 120px;
    background-color: white;
    color: white;
    text-align: center;
    padding-top: 30px;
}
nav a{
    color: black;
    text-decoration: none;
    margin:0 30px;
    font-weight: bolder;
    font-size: 30px;
}
nav a:hover{
    color: orange;
}
.logo{  
    margin-left: 120px;
    float: left;
    width: 120px;
    height: 120px;
}
.Dis{
    height: 45px;
}
.menu-right{
    float: right;
    padding-right: 50px;
}
.timkiem{
    border: 1px solid gray ;
    line-height: 20px;
    width: 250px;
    height: 35px;
    padding: 0px 15px;
}
.line{
    background-color: rgb(236, 231, 231);
    width: 100%;
    height: 30px;
}


.main{
    display: flex ;
    flex-direction: column;
    align-items: center;
}



article{
    font-family: NunitioVar;
    margin-left: 0px;
    margin-right: 0px;
    width: 1519.200px;
    height: 100%;   
}
.row{
    width: 1200px;
    margin: auto;
}
.content{
    width: 1200px;
    height: 60px;
    background: transparent;
    border-bottom: #000 3px solid;
    border-radius: 0px;
    padding: 8px 0px 8px 0px;
    font-size: 16px; 
    margin-bottom: 30px;
}
.conten1>li{
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 10px;
}
.active{
    font-weight: bolder;
}
.cot_sanpham1{
    width: 58.3333%;
    padding-right: 10px;
}
.cot_anh1 img{
    width: 640px;
    text-align: center;
}
.cot_anh2{
    margin: 15px 0 0 0px;
}
.cot_anh2 img{
    width: 157px;
}
.cot_sanpham2{
    width: 41.666666666%;
    padding-left: 10px;
}
.cot_sanpham2>h4{
    font-family: GeometricExtrabold;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bolder;
}
.Ma{
    font-size: 15px;
}
.Gia{
    font-size: 25px;
    color: #f15e2c; 
    font-family: GeometricExtrabold;
}
.Noidung{
    text-align: justify;
}
.Giohang{
    background-color: #000;
    color: #fff;
    font-family: GeometricExtrabold;
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    line-height: 80px;
    margin-top: 40px;
}
.Thanhtoan{
    background-color: #f15e2c;
    color: #fff;
    font-family: GeometricExtrabold;
    text-transform: uppercase;
    text-align: center;
    font-size: 23px;
    line-height: 80px;
}





.tintuc1{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0px 0px 60px 0px;
}
.tintuc1>h1{
    font-family: GeometricExtrabold;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;  
}
.tintuccot1{
    width: 50%;
    text-align: center;
}
.Tensp{
    font-family: GeometricExtrabold;
    font-size: 18px;
    margin: 10px 0px;
}
.Mau{
    margin: 5px 0px;
}
.Price{
    margin: 10px 0px;
    font-weight: bolder;
    font-size: 18px;
}
.tintuccot1>img{
    width: 285px;
    height: 285px;
}
.gachchan1{
    background: url(/ASM/image/gachngang.png) repeat-x 7px;
    margin: 15px 0px;
    height: 2px;
}
.gachchan{
    background: url(/ASM/image/gachngang.png) repeat-x 7px;
    margin: 40px 0px;
    height: 2px;
}



footer{
    display: flex;
    justify-content: center;
}
.footer1{
    background-color: rgb(61, 59, 59);
    font-family: NunitioVar;
    padding: 40px 0px 40px 0px;
}
.footer1 h3{
    font-family: GeometricExtrabold;
    font-size: 25px;
}
.footer-heading{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: large;
}
.footer-list{
    padding-left: 0 ;
    list-style: none;
}
.footer-link{
    text-decoration: none;
    color: rgb(148, 145, 145);
    font-size: medium;
    line-height: 20px;
}
.footer-link:hover{
    color: orangered;
}
.iconsocial{
    padding-left: 0 ;
}
.cot-0{
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-left: 80px;
    margin-right: 0px;
}
.cot{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}
.cot1{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    font-size: small;
    list-style: none;
}
.cot1>li>a>img{
    
    margin-left: -40px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.timcuahang{
    background-color: orangered ;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: medium;
    border: orangered;
    padding: 10px 80px;
    margin-left: -38px;
    
}
.logoana{
    width: 270px;
    height: 60px;
}
.bocongthuong{
    padding-top: 30px;
    width: 170px;
    height: 95px;
}
.search{
    position: relative;
}
.search1{
    border: 1px solid gray ;
    width: 120px;
    height: 27px;
    display: inline-block;
   
}
.muiten img{
    position: absolute;
    margin-left: 5px;
    height: 27px;
}
.footer-heading1{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}
.footer-link-sc{
    text-decoration: none;
    color: rgb(148, 145, 145);
    font-size: small;
    line-height: 20px;
}